<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exclusão de Item de Estoque</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mt-5">Exclusão de Item de Estoque</h1>
            </div>
            <div class="offset-md-3 col-md-6">
                <div class="alert alert-warning mt-3" role="alert">
                    <p>Você está prestes a excluir o item de estoque <strong><%= estoque.produto.nome %></strong> com quantidade <strong><%= estoque.quantidade %></strong>.</p>
                    <p>Esta ação não pode ser desfeita. Tem certeza de que deseja continuar?</p>
                </div>
                <form action="/excluir_estoque/<%= estoque.id %>" method="post">
                    <div class="mt-3 text-center">
                        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                        <a href="/" class="btn btn-secondary ms-2">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
